<div id="<%= dom_id review %>">
<dl>
<dt>Stars:</dt>
<dd><%= review.stars %></dd>

<dt>User:</dt>
<dd><%= review.user %></dd>

<dt>Movie:</dt>
<dd><%= review.movie.name %></dd>

<dt>Review text:</dt>
<dd><%= review.review %></dd>

</div>
